<main>
  <h2>books</h2>
    <% @books.each do |book| %>
     <% image_tag book.user.get_profile_image(100,100) %>

     <p>title</p>
     <%=link_to book.title, book_path(book.id) %>

     <p>opinion</p>
     <%=book.body %>
    <% end %>
</main>
